#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#define NUMPAD 3
#define CTRL 4

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// |  ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | LSFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | RSFT/RET |
//            | LALT | LGUI/SPC| L1/SPC |   | L2/RET | SPC | RCTL |
                        bindings = <
   &kp TAB  &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BKSP
   &kp ESC  &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SCLN &kp QUOT
   &kp LSFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp CMMA  &kp DOT &kp FSLH &mt RSFT RET
          &kp LALT &mt LGUI SPC &lt 1 SPC   &lt 2 RET &kp SPC &kp RCTL
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// | ~    | F1 | F2 | F3 | F4  | F5    |   | 6    | 7    | 8    | 9     | 0   | +    |
// | 0    | 1  | 2  | 3  |  4  | 5     |   | LEFT | DOWN | UP   | Right | -   | =    |
// | LCTL | F6 | F7 | F8 | F9  | TG L3 |   | HOME | END  | PGUP | PGDN  | "|" | SHFT |
//               | LALT | LGUI |       |   | RET  | SPC  | RCTL |
                        bindings = <
   &kp (LSFT|GRAV) &kp F1    &kp F2    &kp F3    &kp F4    &kp    F5   &kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0        &kp KPLS
   &kp NUM_0       &kp NUM_1 &kp NUM_2 &kp NUM_3 &kp NUM_4 &kp NUM_5   &kp LARW  &kp DARW  &kp UARW  &kp RARW  &kp MINUS        &kp EQL
   &osk LCTL       &kp F6    &kp F7    &kp F8    &kp F9    &tog 3      &kp HOME  &kp END   &kp PGUP  &kp PGDN  &kp (LSFT|BSLH)  &kp RSFT
                                            &kp LALT &kp LGUI &trans   &kp RET &kp SPC &kp RCTL
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | `    |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  -  |  +  | BKSP |
// | ~    |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | =    |
// | LSFT |  -  |  +  |  {  |  [  |  (  |   |  )  |  ]  |  }  |     |  \  | SHFT |
//                  | LALT | LGUI | SPC |   |     | SPC | RCTL |
                        bindings = <
   &kp GRAV  &kp (LSFT|NUM_1)  
                      &kp (LSFT|NUM_2)  
                                &kp (LSFT|NUM_3)        
                                                &kp (LSFT|NUM_4)  
                                                          &kp  (LSFT|NUM_5)   &kp (LSFT|NUM_6) &kp (LSFT|NUM_7)  
                                                                                                         &kp KMLT        &kp MINUS  &kp KPLS  &kp BKSP
   &kp (LSFT|GRAV) 
             &kp NUM_1 &kp NUM_2 &kp NUM_3       &kp NUM_4 &kp NUM_5           &kp NUM_6        &kp NUM_7 &kp NUM_8       &kp NUM_9  &kp NUM_0 &kp EQL
   &kp LSFT  &kp MINUS &kp KPLS  &kp (LSFT|LBKT) &kp LBKT  &kp (LSFT|NUM_9)    &kp (LSFT|NUM_0) &kp RBKT  &kp (LSFT|RBKT) &none      &kp BSLH  &kp RSFT
                                                  &kp LALT &kp LGUI &kp SPC    &trans &kp SPC &kp RCTL
                        >;
                };

                numpad_layer {
// -----------------------------------------------------------------------------------------
// | TAB   |   |      | UP   |       |     |   | S-TAB |  7  |  8  |  9  |  -  | BKSP |
// | ESC   |   | LEFT | DOWN | RIGHT | TAB |   | TAB   |  4  |  5  |  6  |  +  | /    |
// | LSFT  |   |      |      |       |     |   | .     |  1  |  2  |  3  |  *  | RET  |
//                  | LALT | LGUI | L4/SPC |   | .     |  0  | RALT |
                        bindings = <
   &kp TAB  &none &none    &kp UARW &none    &none       &kp (LSFT|TAB)  &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp MINUS &kp BKSP
   &kp ESC  &none &kp LARW &kp DARW &kp RARW &kp TAB     &kp TAB         &kp NUM_4 &kp NUM_5 &kp NUM_6 &kp KPLS  &kp FSLH
   &kp LSFT &none &none    &none    &none    &none       &kp DOT         &kp NUM_1 &kp NUM_2 &kp NUM_3 &kp KMLT  &kp RET
                         &kp LALT &kp LGUI &lt 4 SPC     &kp DOT &kp NUM_0 &kp RCTL
                        >;
                };


                ctrl_layer {
// -----------------------------------------------------------------------------------------
// | bt 0 | bt 1 | bt 2  | bt 3 | bt 4 | btclr |   |   |     |     |     |     |    |
// |      |      |       |      |      |       |   |   |     |     |     |     |    |
// |      |      |       |      |      | tog 3 |   |   |     |     |     |     |    |
//                  | LALT | LGUI | SPC |   | RET | SPC | RCTL |
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none  &none &none &none &none &none
   &none  &none &none &none &none &none         &none  &none &none &none &none &none
   &none  &none &none &none &none &tog 3        &none  &none &none &none &none &none
                    &kp LALT &kp LGUI &trans    &kp RET &kp SPC &kp RCTL
                        >;
                };
        };
};  

